<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>记账本</title>
  </head>
  <body>
    <h2>记账本</h2>
    <div>
      <% for( let da of data ) { %>
      <ul>
        <li>
          <%= da.eve %>- <%= da.time %>- <%= da.type %>- <%= da.num %>- <%=
          da.area %>
        </li>
      </ul>
      <% } %>
    </div>
  </body>
</html>
