<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>记账本</title>
    <style>
      ul div {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
      }
    </style>
  </head>
  <body>
    <h2>记账本</h2>

    <div>
      <% if (data && data.length> 0) { %> <% for( let da of data ) { %>
      <ul>
        <div>
          <li>
            <%= da.eve %>- <%= da.time %>- <%= da.choose %>- <%= da.num %>- <%=
            da.area %>
          </li>
          <a href="/<%= da.id %>" class="del">X</a>
        </div>
      </ul>
      <% } %> <% } else { %>
      <h1>here is no information!</h1>
      <% } %>
    </div>

    <script></script>
  </body>
</html>
